[package]
name = "zoxide"
version = "0.7.9"
authors = ["Ajeet D'Souza <98ajeet@gmail.com>"]
edition = "2018"
description = "A smarter cd command for your terminal"
repository = "https://github.com/ajeetdsouza/zoxide"
license = "MIT"
keywords = ["cli"]
categories = ["command-line-utilities", "filesystem"]

[badges]
maintenance = { status = "actively-developed" }

[workspace]
members = ["xtask/"]

[dependencies]
anyhow = "1.0.32"
askama = { version = "0.10.3", default-features = false }
bincode = "1.3.1"
clap = "=3.0.0-beta.5"
dirs-next = "2.0.0"
dunce = "1.0.1"
glob = "0.3.0"
ordered-float = "2.0.0"
serde = { version = "1.0.116", features = ["derive"] }
tempfile = "3.1.0"

[target.'cfg(windows)'.dependencies]
rand = { version = "0.8.4", features = [
    "getrandom",
    "small_rng",
], default-features = false }

[build-dependencies]
clap = "=3.0.0-beta.5"
clap_generate = "=3.0.0-beta.5"
clap_generate_fig = "=3.0.0-beta.5"

[dev-dependencies]
assert_cmd = "2.0.0"
rstest = "0.11.0"

[features]
default = []
nix = []

[profile.release]
codegen-units = 1
lto = true
