[package]
authors = ["Ajeet D'Souza <98ajeet@gmail.com>"]
categories = ["command-line-utilities", "filesystem"]
description = "A smarter cd command for your terminal"
edition = "2021"
keywords = ["cli"]
license = "MIT"
name = "zoxide"
repository = "https://github.com/ajeetdsouza/zoxide"
rust-version = "1.56"
version = "0.7.9"

[badges]
maintenance = { status = "actively-developed" }

[workspace]
members = ["xtask/"]

[dependencies]
anyhow = "1.0.32"
askama = { version = "0.11.0", default-features = false }
bincode = "1.3.1"
clap = { version = "=3.0.0-rc.8", features = ["derive"] }
dirs = "4.0.0"
dunce = "1.0.1"
glob = "0.3.0"
ordered-float = "2.0.0"
serde = { version = "1.0.116", features = ["derive"] }
tempfile = "3.1.0"

[target.'cfg(windows)'.dependencies]
rand = { version = "0.8.4", features = [
  "getrandom",
  "small_rng",
], default-features = false }

[build-dependencies]
clap = { version = "=3.0.0-rc.8", features = ["derive"] }
clap_generate = "=3.0.0-rc.8"
clap_generate_fig = "=3.0.0-rc.8"

[dev-dependencies]
assert_cmd = "2.0.0"
rstest = "0.12.0"

[features]
default = []
nix = []

[profile.release]
codegen-units = 1
lto = true
