[package]
name = "zoxide"
version = "0.3.0"
authors = ["Ajeet D'Souza <98ajeet@gmail.com>"]
description = "A cd command that learns your habits"
repository = "https://github.com/ajeetdsouza/zoxide/"
edition = "2018"

keywords = ["cli"]
categories = ["command-line-utilities", "filesystem"]
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.27"
bincode = "1.2.1"
clap = "2.33.0"
dirs = "2.0.2"
serde = { version = "1.0.105", features = ["derive"] }
structopt = "0.3.12"
uuid = { version = "0.8.1", features = ["v4"] }

[target.'cfg(unix)'.dependencies]
bstr = "0.2.12"

[profile.release]
codegen-units = 1
lto = "fat"
