[package]
name = "xtask"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
anyhow = "1.0.32"
clap = { version = "=3.0.0-rc.8", features = ["derive"] }
ignore = "0.4.18"
shell-words = "1.0.0"
